<div class="background">
  <div class="container">
    <div class="row">
      <div *ngFor="let product of products.slice(-3)" class="col-md-4">
        <mat-card
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
          class="example-card"
        >
          <img mat-card-image [src]="product.imageUrl" alt="" />
          <mat-card-content>
            <h1>${{ product.price }}</h1>
            <h3>{{ product.name }}</h3>
          </mat-card-content>
          <div class="below-content">
            <div class="row icon-row">
              <div (click)="onView(product)" class="icon-back">
                <a>
                  <fa-icon class="mr-3" [icon]="faMagnifyingGlass"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
