<div class="background">
  <div class="wrapper">
    <div class="container p-0">
      <div class="newsletter">
        <div class="row main">
          <h1
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="300"
            class="text-center"
          >
            Newsletter
          </h1>
          <div
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="400"
            class="newsletter-content"
          >
            <div class="row justify-content-center">
              <input
                class="form-control"
                placeholder="Subscribe your email here"
              />
              <button class="btn">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
