.blogs {
  padding: 70px 0;
}
.blogs-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogs-header img {
  width: 100px;
  margin-bottom: 20px;
}
.blogs-header h1 {
  font-family: "Montserrat Bold";
  font-size: 2.5em;
}
.blogs-header p {
  width: 50%;
  text-align: center;
}
.blogs-carousel-content {
  position: relative;
  background-color: #f6f6f6;
  padding: 35px 25px;
}
.content-header {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
}
.content-text {
  font-family: "Montserrat";
  font-size: 14px;
  color: #444;
}
.content-user {
  color: #444;
}
.blogs-carousel-content::before::after {
  position: absolute;
  z-index: 10;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 18px 20px 18px 0;
  content: "";
  left: -20px;
  top: 36px;
}

.btn {
  background: #f6f6f6;
  margin: 20px 5px;
}
