<div class="container-fluid p-0">
  <div class="background">
    <div class="row">
      <h1
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
        class="text-center p-0 w-50"
      >
        Wishlist
      </h1>
    </div>
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="400"
      class="about-us w-100"
      class="about-us w-100"
    >
      <div class="route">
        <mat-icon class="home">home</mat-icon>
        <p class="m-0">Home</p>
        <mat-icon class="orange">arrow_right</mat-icon>
        <p class="m-0">Wishlist</p>
      </div>
    </div>
  </div>
  <div class="row">
    <app-drag-drop></app-drag-drop>
  </div>
</div>
