.navbar {
  background: rgba(0,0,0,0.6) !important;
  position: relative;
  justify-content: space-between !important;
}
.navbar-brand img {
  display: block;
  max-height: 80px !important;
  width: 90%;
  margin-left: 1em;
}

.nav-link {
  font-family: "Montserrat";
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 35px;
  margin-right: 35px;
}
.nav-link:hover,
mat-icon:hover {
  color: #ffb535;
}

mat-icon {
  color: #fff;
  font-size: 14px;
}
