<div class="container-fluid benefits">
  <div class="row justify-content-center">
    <div class="col-md-3 p-0">
      <div class="benefit-content-main">
        <h1 class="benefit-title">Free Shipping</h1>
        <div class="box">
          <fa-icon class="rotate" [icon]="faTruck"></fa-icon>
        </div>
      </div>
      <div class="benefit-content">
        <fa-icon
          class="d-flex justify-content-center"
          [icon]="faTruck"
        ></fa-icon>
        <h3 class="content-text m-0 text-center">Free Shipping</h3>
        <p class="text-center text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonum
        </p>
        <hr class="text-center" />
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="benefit-content-main">
        <h1 class="benefit-title">Discount Order</h1>
        <div class="box">
          <fa-icon class="rotate" [icon]="faGift"></fa-icon>
        </div>
      </div>
      <div class="benefit-content">
        <fa-icon
          class="d-flex justify-content-center"
          [icon]="faGift"
        ></fa-icon>
        <h3 class="content-text m-0 text-center">Free Shipping</h3>
        <p class="text-center text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonum
        </p>
        <hr class="text-center" />
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="benefit-content-main">
        <h1 class="benefit-title">Secure </h1>
        <div class="box">
          <fa-icon class="rotate" [icon]="faShieldHalved"></fa-icon>
        </div>
      </div>
      <div class="benefit-content">
        <fa-icon
          class="d-flex justify-content-center"
          [icon]="faShieldHalved"
        ></fa-icon>
        <h3 class="content-text m-0 text-center">Secure Payment</h3>
        <p class="text-center text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonum
        </p>
        <hr class="text-center" />
      </div>
    </div>
  </div>
</div>
