.carousel-img {
  height: 620px;
}

.product-name {
  font-size: 36px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Montserrat";
  color: #000;
}

.product-price {
  font-size: 24px;
  font-family: "Montserrat";
}
.product-list {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  color: #000;
  padding-right: 10px;
}
.dialog-close {
  color: #000;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dialog-close:hover {
  filter: drop-shadow(0px 0px 2px #000000);
}
