<div class="container">
  <div class="row">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >DO I NEED TO REGISTER BEFORE PLACING AN ORDER?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          I am text block. Click edit button to change this text. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
          nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >HOW DO I CHANGE MY ACCOUNT INFORMATION?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          I am text block. Click edit button to change this text. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
          nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >WHY STOP SHOPPING WHEN YOU CAN RECEIVE FREE SHIPPING?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          I am text block. Click edit button to change this text. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
          nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >CAN I PAY WITH MORE THAN ON MOTOVEHIKLE GIFT CARDS, E-GIFT
            CERTIFICATES, AND STORE CREDITS?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          I am text block. Click edit button to change this text. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
          nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
