.content {
  display: flex;
  justify-content: space-between;
}
.head {
  font-family: "Montserrat Bold";
  font-size: 36px;
  padding: 10px;
}
.label {
  font-family: "Montserrat Bold";
}
.action {
  display: flex;
  justify-content: flex-end;
}
