<div class="height">
  <mat-drawer-container
    id="sidebar"
    class="example-container mat-typography h-100"
    autosize
    [ngStyle]="{ display: isSidebarOpen ? 'block' : 'none' }"
  >
    <mat-drawer
      #drawer
      mode="side"
      disableClose="true"
      opened="true"
      (openedChange)="onSidebarToggle($event)"
    >
      <!-- <div class="logo">
      <img src="/assets/images/DoxMake2.png" />
      <h1 class="logo-title pl-2">DoxMake</h1>
    </div> -->
      <mat-nav-list class="pl-3">
        <a
          class="mt-2"
          mat-list-item
          routerLink="Cabinet"
          routerLinkActive="mat_active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="list">
            <div class="icon">
              <fa-icon [icon]="faBox"></fa-icon>
            </div>
            <a>
              <span mat-line class="pl-3">Products</span>
            </a>
          </div>
        </a>

        <a
          class="mt-2"
          mat-list-item
          routerLink="Employees"
          routerLinkActive="mat_active"
        >
          <div class="list">
            <div class="icon">
              <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <a>
              <span mat-line class="pl-3">Employees</span>
            </a>
          </div>
        </a>

        <a
          class="mt-2"
          mat-list-item
          routerLink="Blogss"
          routerLinkActive="mat_active"
        >
          <div class="list">
            <div class="icon">
              <fa-icon [icon]="faNewspaper"></fa-icon>
            </div>
            <a>
              <span mat-line class="pl-3">Blogs</span>
            </a>
          </div>
        </a>

        <a
          class="mt-2"
          mat-list-item
          routerLink="Home"
          routerLinkActive="mat_active"
        >
          <div class="list">
            <div class="icon">
              <fa-icon [icon]="faRightFromBracket"></fa-icon>
            </div>
            <a>
              <span mat-line class="pl-3">Exit</span>
            </a>
          </div>
        </a>
      </mat-nav-list>
    </mat-drawer>
  </mat-drawer-container>
</div>
