.height {
  height: 100%;
}

mat-drawer-container {
  height: 92%;
}

mat-nav-list span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #909090;
}
mat-drawer {
  width: 100%;
}
span {
  padding-left: 10px;
}
.icon {
  display: flex;
  justify-content: center;
  width: 20px;
}
.list {
  display: flex;
}

fa-icon {
  color: #ffb535;
}

.mat-mdc-list-item:hover,
.mat-mdc-list-item:focus {
  background: #ffb535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.mat-mdc-list-item:hover fa-icon,
.mat-mdc-list-item:focus fa-icon {
  color: #fff;
}
.mat-mdc-list-item:hover span,
.mat-mdc-list-item:focus span {
  color: #fff;
}
.mat-mdc-list-item:active {
  background: #ffb535;
  border-radius: 5px;
}
.mat-mdc-list-item:active fa-icon {
  color: #fff;
}
.mat-mdc-list-item:active span {
  color: #fff;
}
a {
  text-decoration: none;
}
.mat_active {
  background: #ffb535;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  span {
    color: #fff;
  }
  fa-icon {
    color: #fff;
  }
}
img {
  display: inline-block;
  width: 60px;
  height: 60px;
}
