<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="name">Price</label>
        <input
          class="form-control"
          type="number"
          id="price"
          formControlName="price"
        />
      </div>
      <div class="form-group">
        <label for="name">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="imageUrl"
          formControlName="imageUrl"
        />
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input
          class="form-control"
          type="text"
          id="description"
          formControlName="description"
        />
      </div>

      <div class="form-group">
        <label for="availability">Availability</label>
        <select
          class="form-control"
          id="availability"
          formControlName="availability"
        >
          <option value="">----</option>
          <option value="inStock">In Stock</option>
          <option value="outOfStock">Out of Stock</option>
        </select>
      </div>
      <div formArrayName="otherImages">
        <div
          class="form-group"
          *ngFor="let hobbyControl of getImages(); let i = index"
        >
          <input type="text" class="form-control" [formControlName]="i" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
      <button type="button" class="btn btn-primary" (click)="onAddImage()">
        Add other images
      </button>
    </form>
  </div>
</div>
