.container-fluid {
  background-color: #eee;
  padding-bottom: 0;
}
.container {
  margin: 50px auto 0 auto;
}
.sidebar,
.blogs {
  background-color: #fff;
  position: relative;
  height: 100%;
}
.sidebar::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ffa814;
  position: absolute;
  top: 0;
  left: 20px;
}
.sidebar aside {
  padding: 25px 20px 30px 20px;
}
.sidebar-header h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}
.sidebar-content {
  padding-bottom: 35px;
}
.sidebar-content p {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 15px;
}
.sidebar-content img {
  padding-bottom: 20px;
}
.sidebar-content span {
  font-family: "Montserrat";
  font-size: 14px;
  margin-right: 10px;
}

.blogs {
  padding: 50px 30px;
}

.blogs-header {
  position: relative;
}
.blogs-date {
  position: absolute;
  left: 0;
  font-size: 24px;
  padding: 10px 20px 5px 20px;
  border: 2px solid #ffa814;
}
.blogs-date p {
  color: #000;
}
.blogs-title {
  padding-left: 95px;
}
