<footer>
  <div class="footer-columns">
    <div class="footer-list">
      <ul class="list-unstyled">
        <h3>CONTACT INFO</h3>
        <li class="footer-list-item icon">
          <mat-icon> location_on</mat-icon
          ><a>123 Sky Tower address name, Los Angeles</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>phone_iphone</mat-icon> <a>PHONE: (012) 345 6789</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon> email</mat-icon> <a>EMAIL: info@motor.com</a>
        </li>
      </ul>
    </div>
    <div class="footer-list">
      <ul class="list-unstyled">
        <h3>ABOUT US</h3>
        <li class="footer-list-item">
          <a
            >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.</a
          >
        </li>
        <li class="footer-list-item">
          <a
            >Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-list">
      <ul class="list-unstyled">
        <h3>FAQS</h3>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Contact Us</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Returns</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Site Map</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Brands</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Gift Vouchers</a>
        </li>
      </ul>
    </div>

    <div class="footer-list">
      <ul class="list-unstyled">
        <h3>ORDER TRACKING</h3>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>About Us</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Returns</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Contact Us</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Term & Conditions</a>
        </li>
        <li class="footer-list-item icon">
          <mat-icon>keyboard_arrow_right</mat-icon><a>Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
  <hr size="10" />
  <p class="copyright">© Copyright @2023 | Motorcycle</p>
</footer>
